* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    nav,
    footer,
    header,
    aside {
      display: block;
    }
    html,
    body {
      height: 100%;
      width: 100%;
      font-size: 14px;
      line-height: 1;
      font-family: Arial, sans-serif;
      background-color: #0d0d0d;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    ul {
      list-style: none;
    }
    img {
      vertical-align: top;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: inherit;
      font-weight: 400;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      padding: 10px 20px;
      margin-top: 10px;
    }
    .logo img {
      margin-left: 25px;
      height: 20%;
      box-shadow: 2px 2px 20px black;
      width: 20%;
    }
    .search-bar {
      display: flex;
      align-items: center;
      margin-left: -35px;
    }
    .search-bar input {
      background-color: #bfbfbf;
      padding: 5px;
      font-size: 16px;
      border: 3.5px solid black;
      border-right: none;
      border-radius: 10px 0 0 10px;
      height: 50px;
      box-shadow: 2px 2px 20px black;
    }
    .search-bar button {
      background-color: #ff4500; /* OrangeRed */
      color: #fff;
      border: 3.5px solid black;
      padding: 0 15px;
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      height: 50px;
      box-shadow: 2px 2px 20px black;
      transition: background-color 0.3s;
    }
    .search-bar button:hover {
      background-color: #777;
    }

    .nav-links ul {
      display: flex;
      margin-left: 200px;
    }
    .nav-links ul li {
      margin: 0 10px;
      background-color: #f27405;
      padding: 15px;
      border: 3.5px solid black;
      border-radius: 10px;
      box-shadow: 2px 2px 20px black;
      transition: transform 0.3s;
    }
    .nav-links ul li:hover {
      transform: scale(1.1);
    }
    .nav-links ul li a {
      color: black;
      font-size: 16px;

    }
    .nav-links img {
      height: 20px;
      width: 20px;
    }

    .auth-buttons {
      display: flex;
    }
    .auth-buttons button {
      cursor: pointer;
      height: 50px;
      padding: 15px;
      border: 3.5px solid black;
      border-radius: 10px;
      transition: background-color 0.3s;
    }
    .login {
      background-color: black;
      color: white;
      margin-right: -10px;
    }
    .login:hover {
      background-color: #766d6d;
      color: black;
    }
    .register {
      background-color: #ff4500; /* OrangeRed */
      border-left: none;
      border-radius: 0 10px 10px 0;
    }
    .register:hover {
      background-color: #e03e00;
    }

    .content {
      margin-top: 40px;
      color: white;
      display: flex;
      gap: 10px;
    }
    .aboutUS {
      padding: 3%;
      width: 50%;
    }
    .aboutUS h1 {
      font-size: 64px;
    }
    .aboutUS p {
      margin-top: 60px;
      font-size: 24px;
    }
    .aboutUS ul li {
      height: 50px;
      width: 250px;
      background-color: #ff4500; /* OrangeRed */
      margin-top: 170px;
      font-size: 36px;
      padding: 3px;
      border: 3.5px solid black;
      border-radius: 20px;
      box-shadow: 2px 2px 20px black;
      transition: transform 0.3s;
      color: black;
      text-align: center;
    }
    .aboutUS ul li:hover {
      transform: scale(1.1);
    }
    .game {
      width: 62%;
    }

    .sale {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    .sale div {
      transition: transform 0.3s;
    }
    .sale div:hover {
      transform: translate(-10px, -10px);
    }
    .footer{
      margin-top: 60px;
      background-color: #BFBFBF;
      font-size: 36px;
      display: flex;
      justify-content: center;
      gap: 150px;
      color: black;
    }
    .footer div {
      background-color: #BFBFBF;
      height: 80px;
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 3.5px solid #ff4500; /* OrangeRed */
    }
    .footer1{
      background-color: #BFBFBF;
      height: 450px;
      display: flex;
      justify-content: center;
      gap: 150px;
    }
    .footer1 div{
      background-color: #BFBFBF;
      width: 350px;
    }
    .footer1 div p{
      font-size: 24px;
      margin: 80px 15px;
    }
    .footer1 ul {
      margin: 80px 15px ;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .footer1 ul li {
      width: 100px;
      height: 55px;
      background-color: #ff4500; /* OrangeRed */
      padding: 15px;
      border: 3.5px solid black;
      border-radius: 15px;
      transition: transform 0.3s;
      flex: none;
    }
    .footer1 ul li:nth-child(4) {
      margin-top: 20px;
      order: 1;
    }

    .footer1 ul li:hover {
      transform: scale(1.1);
    }
    .footer1 ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 16px;
    }
    .footer1 div a img{
      width: 50px;
      height: 50px;
      margin: 80px 30px;
    }

    .bigred{
      font-size: 20px;
      color: red;
    }
    header {
      display: flex;
      height: 80px;
    }
    header img{
      width: 13%;
    }
/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    margin-left: 0;
  }

  .nav-links ul li {
    margin: 10px 0;
  }

  .auth-buttons {
    margin-top: 10px;
  }

  .content {
    flex-direction: column;
  }

  .aboutUS {
    width: 100%;
    padding: 5%;
  }

  .game {
    width: 100%;
  }

  .sale {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer1 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

/* Hover Effects */
.nav-links ul li:hover,
.auth-buttons button:hover,
.aboutUS ul li:hover,
.sale div:hover,
.footer1 ul li:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
